In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('samsung_price.xlsx')

In [3]:
df.head()

           날짜     종가  전일비     시가     고가     저가       거래량
0  2022.03.23  70500  200  70600  71200  70300  12332242
1  2022.03.22  70300  400  69900  70500  69900   9402666
2  2022.03.21  69900  800  70900  71000  69900  11169002
3  2022.03.18  70700  500  70600  70900  70200  14410038
4  2022.03.17  71200  800  71200  71800  70900  17646315

In [4]:
df['label'] = None

In [5]:
df

              날짜     종가   전일비     시가     고가     저가       거래량 label
0     2022.03.23  70500   200  70600  71200  70300  12332242  None
1     2022.03.22  70300   400  69900  70500  69900   9402666  None
2     2022.03.21  69900   800  70900  71000  69900  11169002  None
3     2022.03.18  70700   500  70600  70900  70200  14410038  None
4     2022.03.17  71200   800  71200  71800  70900  17646315  None
...          ...    ...   ...    ...    ...    ...       ...   ...
6458  1996.06.29  68500   400  68100  69100  67100     96710  None
6459  1996.06.28  68100  1200  67300  68500  67200    138430  None
6460  1996.06.27  66900   800  67500  67700  66700    155450  None
6461  1996.06.26  67700   200  67600  67900  66000    136630  None
6462  1996.06.25  67500     0  66500  68300  65600    112960  None

[6463 rows x 8 columns]

In [6]:
len(df)

6463

In [7]:
for i in range(1, len(df)):
    if df['종가'][i] < df['종가'][i-1]:
        df['label'][i] = 1
    else: df['label'][i] = 0

C:\Users\Home\AppData\Local\Temp/ipykernel_21232/3884642553.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][i] = 1
C:\Users\Home\AppData\Local\Temp/ipykernel_21232/3884642553.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: df['label'][i] = 0

In [8]:
df

              날짜     종가   전일비     시가     고가     저가       거래량 label
0     2022.03.23  70500   200  70600  71200  70300  12332242  None
1     2022.03.22  70300   400  69900  70500  69900   9402666     1
2     2022.03.21  69900   800  70900  71000  69900  11169002     1
3     2022.03.18  70700   500  70600  70900  70200  14410038     0
4     2022.03.17  71200   800  71200  71800  70900  17646315     0
...          ...    ...   ...    ...    ...    ...       ...   ...
6458  1996.06.29  68500   400  68100  69100  67100     96710     1
6459  1996.06.28  68100  1200  67300  68500  67200    138430     1
6460  1996.06.27  66900   800  67500  67700  66700    155450     1
6461  1996.06.26  67700   200  67600  67900  66000    136630     0
6462  1996.06.25  67500     0  66500  68300  65600    112960     1

[6463 rows x 8 columns]

In [9]:
df['label'].describe()

count     6462
unique       2
top          0
freq      3323
Name: label, dtype: int64

In [10]:
stock_list = pd.read_html('https://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13')[0]

In [11]:
stock_list['종목코드'] = stock_list['종목코드'].map('{:06d}'.format)
stock_list.sort_values(by='종목코드', inplace=True)
stock_list.reset_index(drop=True, inplace=True)
stock_list.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,동화약품,000020,의약품 제조업,"의약품 제조,판매,수출입",1976-03-24,12월,유준하,http://www.dong-wha.co.kr,서울특별시
1,KR모터스,000040,그외 기타 운송장비 제조업,"이륜차(오토바이) 제조,도매",1976-05-25,12월,노성석,http://www.krmotors.com,경상남도
2,경방,000050,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준, 김담",http://www.kyungbang.co.kr,서울특별시
3,메리츠화재,000060,보험업,"손해보험(화재,해상,운송보험)",1956-07-02,12월,김용범,http://www.meritzfire.com,서울특별시
4,삼양홀딩스,000070,기타 금융업,"지주회사,경영자문컨설팅",1968-12-27,12월,"엄태웅, 윤재엽",http://www.samyang.com,서울특별시

In [12]:
code_list = stock_list['종목코드'].values
code_list = code_list.tolist()
len(code_list)

2500

In [14]:
code_list = ['035720', '373220']

In [39]:
code_list = ['005930']

In [40]:
from bs4 import BeautifulSoup
import requests

In [41]:
def get_df(code_list):
    df = pd.DataFrame()
    for i in range(len(code_list)):
        code = code_list[i]
        url = f'https://finance.naver.com/item/sise_day.naver?code={code}'
        req = requests.get(url, headers={'User-agent': 'Mozilla/5.0'})
        html = BeautifulSoup(req.text, "lxml")
        pgrr = html.find('td', class_='pgRR')
        s = pgrr.a['href'].split('=')
        last_page = s[-1]
        for page in range(1, int(last_page)+1):
            req = requests.get(f'{url}&page={page}', headers={'User-agent': 'Mozilla/5.0'})
            df = pd.concat([df, pd.read_html(req.text, encoding = 'euc-kr')[0]], ignore_index=True)
    return df

In [42]:
test = get_df(code_list)

In [43]:
# 데이터가 없는 행 일괄 삭제
test.dropna(inplace = True)
# 인덱스 재배열
test.reset_index(drop=True, inplace=True)

In [44]:
test

              날짜       종가     전일비       시가       고가       저가         거래량
0     2022.03.23  70500.0   200.0  70600.0  71200.0  70300.0  12332242.0
1     2022.03.22  70300.0   400.0  69900.0  70500.0  69900.0   9402666.0
2     2022.03.21  69900.0   800.0  70900.0  71000.0  69900.0  11169002.0
3     2022.03.18  70700.0   500.0  70600.0  70900.0  70200.0  14410038.0
4     2022.03.17  71200.0   800.0  71200.0  71800.0  70900.0  17646315.0
...          ...      ...     ...      ...      ...      ...         ...
6458  1996.06.29  68500.0   400.0  68100.0  69100.0  67100.0     96710.0
6459  1996.06.28  68100.0  1200.0  67300.0  68500.0  67200.0    138430.0
6460  1996.06.27  66900.0   800.0  67500.0  67700.0  66700.0    155450.0
6461  1996.06.26  67700.0   200.0  67600.0  67900.0  66000.0    136630.0
6462  1996.06.25  67500.0     0.0  66500.0  68300.0  65600.0    112960.0

[6463 rows x 7 columns]