In [19]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('samsung_price.xlsx')

In [3]:
stock_list = pd.read_html('https://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13')[0]

In [4]:
df.head()

           날짜     종가  전일비     시가     고가     저가       거래량
0  2022.03.23  70500  200  70600  71200  70300  12332242
1  2022.03.22  70300  400  69900  70500  69900   9402666
2  2022.03.21  69900  800  70900  71000  69900  11169002
3  2022.03.18  70700  500  70600  70900  70200  14410038
4  2022.03.17  71200  800  71200  71800  70900  17646315

In [5]:
stock_list['종목코드'] = stock_list['종목코드'].map('{:06d}'.format)
stock_list.sort_values(by='종목코드', inplace=True)
stock_list.reset_index(drop=True, inplace=True)
stock_list.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,동화약품,000020,의약품 제조업,"의약품 제조,판매,수출입",1976-03-24,12월,유준하,http://www.dong-wha.co.kr,서울특별시
1,KR모터스,000040,그외 기타 운송장비 제조업,"이륜차(오토바이) 제조,도매",1976-05-25,12월,노성석,http://www.krmotors.com,경상남도
2,경방,000050,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준, 김담",http://www.kyungbang.co.kr,서울특별시
3,메리츠화재,000060,보험업,"손해보험(화재,해상,운송보험)",1956-07-02,12월,김용범,http://www.meritzfire.com,서울특별시
4,삼양홀딩스,000070,기타 금융업,"지주회사,경영자문컨설팅",1968-12-27,12월,"엄태웅, 윤재엽",http://www.samyang.com,서울특별시

In [6]:
code_list = ['373220']

In [7]:
from bs4 import BeautifulSoup
import requests

In [20]:
def get_df(code_list):
    df = pd.DataFrame()
    for i in range(len(code_list)):
        code = code_list[i]
        url = f'https://finance.naver.com/item/sise_day.naver?code={code}'
        req = requests.get(url, headers={'User-agent': 'Mozilla/5.0'})
        html = BeautifulSoup(req.text, "lxml")
        pgrr = html.find('td', class_='pgRR')
        s = pgrr.a['href'].split('=')
        last_page = s[-1]
        for page in range(1, int(last_page)+1):
            req = requests.get(f'{url}&page={page}', headers={'User-agent': 'Mozilla/5.0'})
            df = pd.concat([df, pd.read_html(req.text, encoding = 'euc-kr')[0]], ignore_index=True)
            df.dropna(inplace=True)
            df.reset_index(drop=True, inplace=True)
                 
        # 전일대비 종가 등락률 계산
        close = df['종가']
        daily_rate = (close / close.shift(-1)-1)* 100
        df['일간변동률(%)'] = daily_rate
        
        # 전일대비 거래량 등락률 계산
        volume = df['거래량']
        volume_rate = (volume / volume.shift(-1)-1) * 100
        df['거래량증감률(%)'] = volume_rate
        
        # RSI 계산을 위한 전일비 등락값
        # 기존 전일비 값은 +, -의 구분이 없음
        diff = close - close.shift(-1)
        df['전일비등락'] = diff
        
        # RSI (14일 기준) 계산
        u = np.where(df['전일비등락'].diff(1) > 0, df['전일비등락'].diff(1), 0)
        d = np.where(df['전일비등락'].diff(1) < 0, df['전일비등락'].diff(1) *(-1), 0)
        au = df['전일비등락'].rolling(window=14, min_periods=14).mean()
        ad = df['전일비등락'].rolling(window=14, min_periods=14).mean()
        rsi = au.div(ad+au) * 100
        df['RSI'] = rsi
        
        """
        # RSI(14일 기준) 계산
        df['RSI'] = None
        for i in range(len(df)-14):
            au, au_cnt = 0,0
            ad, ad_cnt = 0,0
            for j in range(i, i+13):
                if df['전일비등락'][j] > 0:
                    au += df['전일비등락'][j]
                    au_cnt += 1
                elif df['전일비등락'][j] < 0:
                    ad += df['전일비등락'][j]
                    ad_cnt += 1
            au /= au_cnt
            ad /= ad_cnt
            rs = au / ad
            rsi = rs / (1+rs) * 100
            df['RSI'][i] = rsi
            """
        
    return df

In [21]:
test = get_df(code_list)

In [22]:
# 데이터가 없는 행 일괄 삭제
# test.dropna(inplace = True)
# 인덱스 재배열
# test.reset_index(drop=True, inplace=True)

In [23]:
test

,날짜,종가,전일비,시가,고가,저가,거래량,일간변동률(%),거래량증감률(%),전일비등락,RSI
0,2022.03.24,408000.0,1000.0,405000.0,410000.0,398000.0,316104.0,0.245700,-39.610040,1000.0,NaN
1,2022.03.23,407000.0,9500.0,403000.0,407500.0,398000.0,523438.0,2.389937,26.442851,9500.0,NaN
2,2022.03.22,397500.0,11500.0,388500.0,399000.0,388000.0,413972.0,2.979275,-36.821992,11500.0,NaN
3,2022.03.21,386000.0,4000.0,385000.0,397500.0,384000.0,655247.0,1.047120,1.759860,4000.0,NaN
4,2022.03.18,382000.0,6000.0,377500.0,384000.0,370500.0,643915.0,1.595745,-21.100258,6000.0,NaN
5,2022.03.17,376000.0,12500.0,374000.0,381500.0,373000.0,816118.0,3.438790,30.510388,12500.0,NaN
6,2022.03.16,363500.0,4000.0,367000.0,367500.0,360000.0,625328.0,1.112656,-41.256508,4000.0,NaN
7,2022.03.15,359500.0,4000.0,363000.0,370000.0,355000.0,1064506.0,-1.100413,-46.760831,-4000.0,NaN
8,2022.03.14,363500.0,27500.0,385000.0,385500.0,361500.0,1999479.0,-7.033248,10.384719,-27500.0,NaN
9,2022.03.11,391000.0,26500.0,411500.0,412000.0,390500.0,1811373.0,-6.347305,68.273467,-26500.0,NaN
10,2022.03.10,417500.0,7000.0,421000.0,430500.0,417500.0,1076446.0,1.705238,173.617293,7000.0,NaN
11,2022.03.08,410500.0,3500.0,406000.0,417000.0,402500.0,393413.0,-0.845411,6.159131,-3500.0,NaN
12,2022.03.07,414000.0,14500.0,420500.0,421000.0,412000.0,370588.0,-3.383897,19.186955,-14500.0,NaN
13,2022.03.04,428500.0,8500.0,433500.0,436500.0,427000.0,310930.0,-1.945080,-32.486364,-8500.0,50.0
14,2022.03.03,437000.0,3000.0,439500.0,441000.0,430000.0,460544.0,0.691244,-48.569004,3000.0,50.0
15,2022.03.02,434000.0,22000.0,411000.0,434500.0,408500.0,895460.0,5.339806,-7.692910,22000.0,50.0
16,2022.02.28,412000.0,8000.0,404500.0,422000.0,404000.0,970088.0,-1.904762,108.558284,-8000.0,50.0
17,2022.02.25,420000.0,3500.0,425000.0,430000.0,418500.0,465140.0,0.840336,-47.341489,3500.0,50.0
18,2022.02.24,416500.0,25500.0,435000.0,438000.0,416000.0,883314.0,-5.769231,131.500681,-25500.0,50.0
19,2022.02.23,442000.0,2000.0,443500.0,446000.0,438000.0,381560.0,0.454545,-31.519314,2000.0,50.0
20,2022.02.22,440000.0,13000.0,444500.0,448000.0,440000.0,557179.0,-2.869757,70.126317,-13000.0,50.0
21,2022.02.21,453000.0,1500.0,450000.0,453000.0,447500.0,327509.0,-0.330033,-21.784786,-1500.0,50.0
22,2022.02.18,454500.0,0.0,448500.0,454500.0,448000.0,418728.0,0.000000,-41.122327,0.0,50.0
23,2022.02.17,454500.0,1000.0,454500.0,460000.0,447000.0,711183.0,-0.219539,-26.047008,-1000.0,50.0
24,2022.02.16,455500.0,4000.0,464000.0,465000.0,449500.0,961669.0,0.885936,16.508603,4000.0,50.0
25,2022.02.15,451500.0,11500.0,460000.0,468000.0,450000.0,825406.0,-2.483801,-74.876560,-11500.0,50.0
26,2022.02.14,463000.0,19000.0,473000.0,482000.0,459500.0,3285402.0,-3.941909,132.833022,-19000.0,50.0
27,2022.02.11,482000.0,7500.0,463500.0,484000.0,457000.0,1411055.0,1.580611,-38.831029,7500.0,50.0
28,2022.02.10,474500.0,36500.0,507000.0,507000.0,471500.0,2306815.0,-7.142857,11.402451,-36500.0,50.0
29,2022.02.09,511000.0,31000.0,550000.0,557000.0,505000.0,2070704.0,-5.719557,-19.843768,-31000.0,50.0
30,2022.02.08,542000.0,6000.0,554000.0,577000.0,524000.0,2583335.0,-1.094891,35.169916,-6000.0,50.0
31,2022.02.07,548000.0,44000.0,520000.0,548000.0,511000.0,1911176.0,8.730159,-8.512223,44000.0,50.0
32,2022.02.04,504000.0,27000.0,476500.0,505000.0,476000.0,2088996.0,5.660377,-28.420678,27000.0,50.0
33,2022.02.03,477000.0,27000.0,458000.0,495500.0,441000.0,2918435.0,6.000000,-35.996046,27000.0,50.0
34,2022.01.28,450000.0,55000.0,476000.0,483000.0,445000.0,4559773.0,-10.891089,-71.406689,-55000.0,50.0
35,2022.01.27,505000.0,92000.0,597000.0,598000.0,450000.0,15946992.0,NaN,NaN,NaN,NaN

In [12]:
len(test)

36

In [34]:
delta = test['전일비등락']

In [35]:
up = delta.copy()
up[up<0] = 0

In [36]:
down = delta.copy()
down[down>0] = 0

In [37]:
test['up'] = up

In [38]:
test['down'] = down

In [40]:
avg_gain = test['up'].rolling(window=14).mean()
avg_loss = abs(test['down'].rolling(window=14).mean())
rs = avg_gain / avg_loss
rsi = 100.0 - (100.0 / (1.0+rs))
test['RSI'] = rsi

In [41]:
test

,날짜,종가,전일비,시가,고가,저가,거래량,일간변동률(%),거래량증감률(%),전일비등락,RSI,up,down
0,2022.03.24,408000.0,1000.0,405000.0,410000.0,398000.0,316104.0,0.245700,-39.610040,1000.0,NaN,1000.0,0.0
1,2022.03.23,407000.0,9500.0,403000.0,407500.0,398000.0,523438.0,2.389937,26.442851,9500.0,NaN,9500.0,0.0
2,2022.03.22,397500.0,11500.0,388500.0,399000.0,388000.0,413972.0,2.979275,-36.821992,11500.0,NaN,11500.0,0.0
3,2022.03.21,386000.0,4000.0,385000.0,397500.0,384000.0,655247.0,1.047120,1.759860,4000.0,NaN,4000.0,0.0
4,2022.03.18,382000.0,6000.0,377500.0,384000.0,370500.0,643915.0,1.595745,-21.100258,6000.0,NaN,6000.0,0.0
5,2022.03.17,376000.0,12500.0,374000.0,381500.0,373000.0,816118.0,3.438790,30.510388,12500.0,NaN,12500.0,0.0
6,2022.03.16,363500.0,4000.0,367000.0,367500.0,360000.0,625328.0,1.112656,-41.256508,4000.0,NaN,4000.0,0.0
7,2022.03.15,359500.0,4000.0,363000.0,370000.0,355000.0,1064506.0,-1.100413,-46.760831,-4000.0,NaN,0.0,-4000.0
8,2022.03.14,363500.0,27500.0,385000.0,385500.0,361500.0,1999479.0,-7.033248,10.384719,-27500.0,NaN,0.0,-27500.0
9,2022.03.11,391000.0,26500.0,411500.0,412000.0,390500.0,1811373.0,-6.347305,68.273467,-26500.0,NaN,0.0,-26500.0
10,2022.03.10,417500.0,7000.0,421000.0,430500.0,417500.0,1076446.0,1.705238,173.617293,7000.0,NaN,7000.0,0.0
11,2022.03.08,410500.0,3500.0,406000.0,417000.0,402500.0,393413.0,-0.845411,6.159131,-3500.0,NaN,0.0,-3500.0
12,2022.03.07,414000.0,14500.0,420500.0,421000.0,412000.0,370588.0,-3.383897,19.186955,-14500.0,NaN,0.0,-14500.0
13,2022.03.04,428500.0,8500.0,433500.0,436500.0,427000.0,310930.0,-1.945080,-32.486364,-8500.0,39.642857,0.0,-8500.0
14,2022.03.03,437000.0,3000.0,439500.0,441000.0,430000.0,460544.0,0.691244,-48.569004,3000.0,40.492958,3000.0,0.0
15,2022.03.02,434000.0,22000.0,411000.0,434500.0,408500.0,895460.0,5.339806,-7.692910,22000.0,45.307443,22000.0,0.0
16,2022.02.28,412000.0,8000.0,404500.0,422000.0,404000.0,970088.0,-1.904762,108.558284,-8000.0,38.741722,0.0,-8000.0
17,2022.02.25,420000.0,3500.0,425000.0,430000.0,418500.0,465140.0,0.840336,-47.341489,3500.0,38.538206,3500.0,0.0
18,2022.02.24,416500.0,25500.0,435000.0,438000.0,416000.0,883314.0,-5.769231,131.500681,-25500.0,30.588235,0.0,-25500.0
19,2022.02.23,442000.0,2000.0,443500.0,446000.0,438000.0,381560.0,0.454545,-31.519314,2000.0,26.018809,2000.0,0.0
20,2022.02.22,440000.0,13000.0,444500.0,448000.0,440000.0,557179.0,-2.869757,70.126317,-13000.0,22.255193,0.0,-13000.0
21,2022.02.21,453000.0,1500.0,450000.0,453000.0,447500.0,327509.0,-0.330033,-21.784786,-1500.0,22.590361,0.0,-1500.0
22,2022.02.18,454500.0,0.0,448500.0,454500.0,448000.0,418728.0,0.000000,-41.122327,0.0,27.075812,0.0,0.0
23,2022.02.17,454500.0,1000.0,454500.0,460000.0,447000.0,711183.0,-0.219539,-26.047008,-1000.0,33.185841,0.0,-1000.0
24,2022.02.16,455500.0,4000.0,464000.0,465000.0,449500.0,961669.0,0.885936,16.508603,4000.0,31.363636,4000.0,0.0
25,2022.02.15,451500.0,11500.0,460000.0,468000.0,450000.0,825406.0,-2.483801,-74.876560,-11500.0,29.237288,0.0,-11500.0
26,2022.02.14,463000.0,19000.0,473000.0,482000.0,459500.0,3285402.0,-3.941909,132.833022,-19000.0,28.163265,0.0,-19000.0
27,2022.02.11,482000.0,7500.0,463500.0,484000.0,457000.0,1411055.0,1.580611,-38.831029,7500.0,34.567901,7500.0,0.0
28,2022.02.10,474500.0,36500.0,507000.0,507000.0,471500.0,2306815.0,-7.142857,11.402451,-36500.0,25.161290,0.0,-36500.0
29,2022.02.09,511000.0,31000.0,550000.0,557000.0,505000.0,2070704.0,-5.719557,-19.843768,-31000.0,10.365854,0.0,-31000.0
30,2022.02.08,542000.0,6000.0,554000.0,577000.0,524000.0,2583335.0,-1.094891,35.169916,-6000.0,10.493827,0.0,-6000.0
31,2022.02.07,548000.0,44000.0,520000.0,548000.0,511000.0,1911176.0,8.730159,-8.512223,44000.0,28.395062,44000.0,0.0
32,2022.02.04,504000.0,27000.0,476500.0,505000.0,476000.0,2088996.0,5.660377,-28.420678,27000.0,41.421569,27000.0,0.0
33,2022.02.03,477000.0,27000.0,458000.0,495500.0,441000.0,2918435.0,6.000000,-35.996046,27000.0,47.816594,27000.0,0.0
34,2022.01.28,450000.0,55000.0,476000.0,483000.0,445000.0,4559773.0,-10.891089,-71.406689,-55000.0,40.405904,0.0,-55000.0
35,2022.01.27,505000.0,92000.0,597000.0,598000.0,450000.0,15946992.0,NaN,NaN,NaN,NaN,NaN,NaN